/* Large Devices (Desktop and Laptop) */
@media (min-width: 1200px) and (max-width: 1293px) {
      
    .site-nav-wrapper {
        padding: 0 20px;
    }
    
}
/* Medium Devices */

@media (min-width: 992px) and (max-width: 1199px) {
 
}

/* small Devices */

@media (min-width: 768px) and (max-width: 991px) {
  
    #mobile-nav-open-btn {
        display: block;
    }
    
    
    
    /* Home */
    #home-heading h1 {
        font-size: 41px;
    }
    
    #home-text p {
        font-size: 13px;
    }
    /* Generic */
    .btn-general {
        padding: 8px 25px 8px 35px;
        font-size: 10px;
        
    }
    
    .vertical-heading h2 {
        font-size: 29px;
    }
    
    /* Tech Statement */
    #tech-statement h3 {
        font-size: 20px;
        line-height: 30px;
    }
    /* Services *?
    */
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }
    .r-tabs-accordion-title a {
                
font-family: "Raleway",sans-serif;
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
    }
  .r-tabs-state-active a {
    color: #f4c613;
    font-weight: 700;
    border-bottom: 3px solid #f4c613;
    padding-bottom: 5px;
    -webkit-transition: border-color 300ms linear;   
    transition: border-color 300ms linear
}
    /* Pricing */
    .pricing-table .price h2 {
        margin: 0 0 0 6px;
    }
}
    /* ExtraSm Devices */

@media (max-width: 767px) {
    
    /* Navigation */
    .navbar {
        padding: 20px 0;
    }
    .site-nav-wrapper,
    .white-nav-top {
        padding: 0;
    }
    /* Hide mobile menu open button */
    #mobile-nav-open-btn {
        display: block;
    }
    
    
    
    
    
    /* Home */
    #home-heading h1  {
        font-size: 25px;
    }   
    #home-heading p {
        font-size: 14px;
    }
    /* Tech Statement */
    #tech-statement h3 {
        font-size: 22px;
        line-height: 30px;
        font-family: "Open Sans", sans-serif;
    }
    #cilents-list img {
        font-size: 30px; 
        max-width: 300px;
        width: 100px;

    }
    /* Services *?
    */
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }
    .r-tabs-accordion-title a {
                
font-family: "Raleway",sans-serif;
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
    }
  .r-tabs-state-active a {
    color: #f4c613;
    font-weight: 700;
    border-bottom: 3px solid #f4c613;
    padding-bottom: 5px;
    -webkit-transition: border-color 300ms linear;   
    transition: border-color 300ms linear
}
    
    /* Generic */
    .btn-general {
        padding: 8px 25px 8px 35px;
        font-size: 10px;
        
    }
    
    .vertical-heading h2 {
        font-size: 30px;
        text-align:left;
        font-weight: 900;
    }
            
    }
    .horizontal-heading h2 {
        font-size: 29px;
        color: none;
    }
    .service, .service .icon {
        text-align: center !important;
    }
    .portfolio-item img {
        width: 1000px;
        font-size: 100px;
}
.testimonials {
    padding: 140px 140px 140px 140px;
}
}





