/* Large Devices (Desktop and Laptop) */
@media (min-width: 1200px) and (max-width: 1293px) {
      
    .site-nav-wrapper {
        padding: 0 20px;
    }
    
}
/* Medium Devices */

@media (min-width: 992px) and (max-width: 1199px){
 
}

/* small Devices */

@media (min-width: 768px) and (max-width: 991px){
  
    
    /* Home */
    #home-heading h1 {
        font-size: 41px;
    }
    
    #home-text p {
        font-size: 13px;
    }
    /* Generic */
    .btn-general {
        padding: 8px 25px 8px 35px;
        font-size: 10px;
        
    }
    
    .vertical-heading h2 {
        font-size: 29px;
    }
    
    /* Tech Statement */
    #tech-statement h3 {
        font-size: 20px;
        line-height: 30px;
    }
    /* Services *?
    */
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }
    .r-tabs-accordion-title a {
                
font-family: "Raleway",sans-serif;
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
    }
  .r-tabs-state-active a {
    color: #f4c613;
    font-weight: 700;
    border-bottom: 3px solid #f4c613;
    padding-bottom: 5px;
    -webkit-transition: border-color 300ms linear;   
    transition: border-color 300ms linear
}
    /* Pricing */
    .pricing-table .price h2 {
        margin: 0 0 0 6px;
    }

    /* ExtraSm Devices */

@media (max-width: 767px) {

 /* Item Details Effect */
.portfolio-item-details {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);    
    transform: translateY(-50%);
}

.portfolio-item-details h3 {
    color: #f4c613;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-20%);    
    transform: translateY(-20%);
    -webkit-transition: all 0.1ms ease;    
    transition: all 0.1ms ease;
}
.portfolio-item-details span {
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 6px;
    width: 30px;
    margin: 11px auto 5px auto;
}
.portfolio-item-details p {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
      -webkit-transform: translateY(20%);    
    transform: translateY(20%);
    -webkit-transition: all 0.1ms;    
    transition: all 0.1ms
}
/* Show Overlay on mouse over */
.portfolio-item:hover .portfolio-item-details h3 {
    -webkit-transform: translateY(0);    
    transform: translateY(0);
}
.portfolio-item:hover .portfolio-item-details h3 {
     -webkit-transform: translateY(0);    
    transform: translateY(0);
}
.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
    
}

    
    }